@model StoreOnLine.Areas.Security.Models.PersonView
@{
    ViewBag.Title = "Security: Edit " + ViewBag.UserName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("Edit", "Person"),
        LoadingElementDuration = 1000,
        LoadingElementId = "loading",
        HttpMethod = "Post",
        OnSuccess = "OnSuccess"

    };
}
<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
              (string)ViewBag.Big,
              (string)ViewBag.Small,
              (string)ViewBag.Area,
              (string)ViewBag.Controller,
              (string)ViewBag.Action)
              );}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading ">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Datos" data-toggle="tab">Datos</a></li>
            <li><a href="#Direccion" data-toggle="tab">Direccion</a></li>
            <li><a href="#Contacto" data-toggle="tab">Contacto</a></li>
            <li><a href="#Credenciales" data-toggle="tab">Credenciales</a></li>
            <li><a href="#Documentos" data-toggle="tab">Documentos</a></li>
            <li><a href="#Seguridad" data-toggle="tab">Seguridad</a></li>
        </ul>
    </div>
    @using (Ajax.BeginForm("Edit", "Person", ajaxOpts, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ContactNumberId)
        @Html.HiddenFor(m => m.DocumentId)
        @Html.HiddenFor(m => m.AddressId)
        @Html.HiddenFor(m => m.RoleId)
        @Html.HiddenFor(m => m.UserId)
        <div class="tab-content"  style="height: 200px">
            <div class="tab-pane active" id="Datos">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese el el nombre" } })
                                    @*@Html.ValidationMessageFor(m => m.FirstName)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese los apellidos" } })
                                    @*@Html.ValidationMessageFor(m => m.LastName)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese su fecha de Nacimiento" } })
                                    @*@Html.ValidationMessageFor(m => m.BirthDate)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Direccion">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.Line1, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.Line1, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Direccion" } })
                                    @*@Html.ValidationMessageFor(m => m.Line1)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.CodDpto, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(m => m.CodDpto,
                                            (SelectList)ViewBag.Dpto,
                                            "------------------------------",
                                            new { @class = "form-control btn btn-primary" })
                                    @*@Html.ValidationMessageFor(m => m.CodDpto)*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.Line2, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.Line2, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Direccion" } })
                                    @*@Html.ValidationMessageFor(m => m.Line2)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.CodProv, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(m => m.CodProv,
                                        (SelectList)ViewBag.Prov,
                                        "------------------------------",
                                        new { @class = "form-control btn btn-primary" })
                                    @*@Html.ValidationMessageFor(m => m.CodProv)*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.Reference, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.Reference, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Direccion" } })
                                    @*@Html.ValidationMessageFor(m => m.Reference)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.CodDist, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(m => m.CodDist,
                                            (SelectList)ViewBag.Dist,
                                            "------------------------------",
                                            new { @class = "form-control btn btn-primary" })
                                    @*@Html.ValidationMessageFor(m => m.CodDist)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Contacto">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.NumberPhone, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.NumberPhone, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese Numero fijo" } })
                                    @*@Html.ValidationMessageFor(m => m.NumberPhone)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.CellPhone, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.CellPhone, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese Numero de Celular" } })
                                    @*@Html.ValidationMessageFor(m => m.CellPhone)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese Numero de Celular" } })
                                    @*@Html.ValidationMessageFor(m => m.Email)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Credenciales">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.UserName, new { @class = "control-label", PlaceHolder = "Ingrese un usuario" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese una contraseña" } })
                                    @*@Html.ValidationMessageFor(m => m.UserName)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.UserPassword, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.UserPassword, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese el nombre del usuario" } })
                                    @*@Html.ValidationMessageFor(m => m.UserPassword)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.UserCode, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.UserCode, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese el nombre del usuario" } })
                                    @*@Html.ValidationMessageFor(m => m.UserCode)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Documentos">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.DocumentTypeId, new { @class = "control-label", PlaceHolder = "Ingrese un usuario" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(m => m.DocumentTypeId,
                                            (SelectList)ViewBag.DocumentType,
                                            "------------------------------",
                                            new { @class = "form-control btn btn-primary" })
                                    @*@Html.ValidationMessageFor(m => m.DocumentTypeId)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.DocumentValue, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.DocumentValue, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese el nombre del usuario" } })
                                    @*@Html.ValidationMessageFor(m => m.DocumentValue)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Seguridad">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.RoleCode, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(m => m.RoleCode,
                                (SelectList)ViewBag.Role,
                                "------------------------------",
                                new { @class = "form-control btn btn-primary" })
                                    @*@Html.ValidationMessageFor(m => m.RoleCode)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <span id="loading" class="ui-icon-loading" style="display: none">
                <img src="~/Content/images/ajax-loader.gif" style="max-height: 100%; max-width: 100%;" />
            </span>
            @Html.ActionLink("Cancelar", "Index", new { Area = "Security" }, new { @class = "btn btn-default" })
        </div>
    }
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#BirthDate').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                startDate: new Date(1900, 01, 01),
                todayBtn: true,
                clearBtn: true,
                todayHighlight: true
            }).val('@Model.BirthDate');
        });

        function OnSuccess(data) {
            alert(data);
            window.location.href = data.newurl;
        }

        $("#CodDpto").change(function () {
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '@Url.Action("GetProvinces", "Person")',
                data: { codDpto: $("#CodDpto > option:selected").attr("value") },
                success: function (data) {
                    var items = [];
                    items.push("<option>-----------------------------</option>");
                    $.each(data, function () {
                        items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#CodProv").html(items.join(' '));
                }
            });
        });

        $("#CodProv").change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDistricts", "Person")',
                data: {
                    codDpto: $("#CodDpto > option:selected").attr("value"),
                    codProv: $("#CodProv > option:selected").attr("value")
                },
                success: function (data) {
                    var items = [];
                    items.push("<option>-----------------------------</option>");
                    $.each(data, function () {
                        items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#CodDist").html(items.join(' '));
                }
            });
        });
    </script>
}

