@model StoreOnLine.Areas.Report.Models.ReportView

<table class="table table-striped" style="overflow:auto">
    <thead>
        <tr>
            @foreach (var item in Model.Headers)
            {
                <th>
                    @Html.DisplayName(item.CompanyName)
                </th>
                <th>
                    @Html.DisplayName(item.CompanyBaseCode)
                </th>
                <th>
                    @Html.DisplayName(item.Regimen)
                </th>
                <th>
                    @Html.DisplayName(item.UserCode)
                </th>
                <th>
                    @Html.DisplayName(item.UserName)
                </th>    
                <th>
                    @Html.DisplayName(item.Rol)
                </th> 
                foreach (var dia in item.Days)
                {
                <th>
                    @Html.DisplayName(dia.Number + "(" + dia.AbbNameDay + ")")
                </th> 
                }
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReportDetails)
        {
            <tr>
                @Html.DisplayName(item.CompanyName)
            </tr>
            <tr>
                @Html.DisplayName(item.CompanyBaseCode)
            </tr>
            <tr>
                @Html.DisplayName(item.Regimen)
            </tr>
            <tr>
                @Html.DisplayName(item.UserCode)
            </tr>
            <tr>
                @Html.DisplayName(item.UserName)
            </tr>    
            <tr>
                @Html.DisplayName(item.Rol)
            </tr> 
            foreach (var dia in item.Days)
            {
            <tr>
                @Html.DisplayName(dia.Activity)
            </tr> 
            }
        }
    </tbody>
</table>
