<div class="col-lg-10">
    <table id="DataTableCategoryRol" class="table table-striped ">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectall" /></th>
                <th>Id</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.EditorFor(item.ha new { onchange = "SomeMethod(" + @item.Rol.Id + ")",   @class = "case" })</td>
                    <td>@item.Rol.Id</td>
                    <td>@item.Rol.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {

        // add multiple select / deselect functionality
        $("#selectall").click(function () {

            $('.case').prop('checked', this.checked);
        });

        // if all checkbox are selected, check the selectall checkbox
        // and viceversa
        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").prop("checked", true);
            } else {
                $("#selectall").prop("checked", false);
            }

        });
    });



    function SomeMethod(checkboxInput) {
        var idRol = $(checkboxInput)[0];
        //alert("checkedChanged" + checkboxInput.Id);
        var url = '@Url.Action("UpdateCategoryRol", new { categoryId = 1, rolId = "__id__" })';
        var data = {categoryId: @Model.ElementAt(0).CategoryLangId , rolId: idRol};
        $.ajax({
            type: 'POST',
            url: url.replace('__id__', idRol),
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)

        });
    }
</script>
