@model IEnumerable<StoreOnLine.Areas.Management.Models.CategoryView>

@{
    ViewBag.Title = "Admin: Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
          (string)ViewBag.Big,
          (string)ViewBag.Small,
          (string)ViewBag.Area,
          (string)ViewBag.Controller,
          (string)ViewBag.View)
          );}
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading ">
                @Html.ActionLink("Crear Nuevo", "Create", "AdminCategory", null, new { @class = " btn btn-primary pull-righ" })
            </div>
            <div class="panel-body">
                <table id="DataTableCategory" class="table hover ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsStatus)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                                </td>
                                <td>
                                    @if (item.IsStatus)
                                    {
                                        <i class="glyphicon glyphicon-ok"></i>
                                    }
                                    else
                                    {
                                        <i class="glyphicon glyphicon-remove"></i>
                                    }

                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        @Html.ActionLink("Edit", "Edit", "AdminCategory", new { categoryId = item.Id }, new { @style = "color: black" })
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        @Html.ActionLink("Delete", "Delete", "AdminCategory", new { categoryId = item.Id }, new { @style = "color: white" })
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#DataTableCategory').dataTable({
                "order": [[0, "asc"]],
                "paging": false,
                //"pagingType": "full_numbers",
                "scrollY": "200px",
                "scrollCollapse": true,
                "jQueryUI": true,
                "oLanguage": {
                    "sSearch": "<b> Buscar :</b>  ",
                    "sInfo": "Mostrando _START_ de _END_  registros"
                }
            });
        });

    </script>

}
