@model StoreOnLine.Areas.Management.Models.SupplierView

@{
    ViewBag.Title = "Admin: Edit " + ViewBag.Supplier;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
          (string)ViewBag.Big,
          (string)ViewBag.Small,
          (string)ViewBag.Area,
          (string)ViewBag.Controller,
          (string)ViewBag.Action)
          );}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading ">
                <h3>Editar Proveedor <b> @Model.SupplierName</b></h3>
            </div>

            @using (Html.BeginForm("Edit", "AdminSupplier", FormMethod.Post, new {  @class = "form-horizontal" }))
            {
                @Html.ValidationSummary()
                @Html.HiddenFor(m => m.Id)
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.SupplierName, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.SupplierName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese un nombre para la campaña" } })
                                    @Html.ValidationMessageFor(m => m.SupplierName)
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.IsStatus, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    <div class="bootstrap-switch bootstrap-switch-small">
                                        @Html.CheckBoxFor(m=>m.IsStatus)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.SupplierDescription, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.SupplierDescription, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese una breve descripcion del proveedor" } })
                                    @Html.ValidationMessageFor(m => m.SupplierDescription)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.SupplierDocument, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.SupplierDocument, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese el ruc del proveedor" } })
                                    @Html.ValidationMessageFor(m => m.SupplierDocument)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Index", new { Area = "Management" }, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Active').bootstrapSwitch({
                size: 'small',
                onText: 'Si',
                offText: 'No',
                onColor: 'success',
                offColor: 'danger',
                radioAllOff:'false'
            });
        });

    </script>
}
