@using StoreOnLine.DataBase.Const
@{
    ViewBag.Title = "AdminImg: Section";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
        (string)ViewBag.Big,
        (string)ViewBag.Small,
        (string)ViewBag.Area,
        (string)ViewBag.Controller,
        (string)ViewBag.Action)
        );}

<div class="container-fluid">
    <h2>Secciones</h2>
</div>

<div class="container-fluid well">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Categorias</h3>
                <a href="@Url.Action("Index", "AdminCategory", new { Area = "Management" })" class="thumbnail">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetImageDefault", "AdminImg", new { Area = "Management", defaultName=@ObjectName.CategoryName  })" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Campañas</h3>
                <a href="@Url.Action("Index", "AdminCampaign", new { Area = "Management" })" class="thumbnail">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetImageDefault", "AdminImg", new { Area = "Management", defaultName=@ObjectName.CampaignName  })" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Caracteristicas</h3>
                <a href="@Url.Action("Index", "AdminUnitFeacture", new { Area = "Management" })" class="thumbnail">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetImageDefault", "AdminImg", new { Area = "Management", defaultName=@ObjectName.FeatureName  })" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Unidades</h3>
                <a href="@Url.Action("Index", "AdminUnit", new { Area = "Management" })" class="thumbnail">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetImageDefault", "AdminImg", new { Area = "Management", defaultName=@ObjectName.UnitName  })" alt=""/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid well">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Proveedores</h3>
                <a href="@Url.Action("Index", "AdminSupplier", new { Area = "Management" })" class="thumbnail">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetImageDefault", "AdminImg", new { Area = "Management", defaultName=@ObjectName.SupplierName })" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Producto Base</h3>
                <a href="@Url.Action("Index", "AdminProductBase", new { Area = "Management" })" class="thumbnail">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetImageDefault", "AdminImg", new { Area = "Management", defaultName=@ObjectName.ProductBaseName  })" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Producto Compuesto</h3>
                <a href="@Url.Action("Index", "AdminProductComposite", new { Area = "Management" })" class="thumbnail">
                    <img class="img-thumbnail" width="100" height="100" src="@Url.Action("GetImageDefault", "AdminImg", new { Area = "Management", defaultName=@ObjectName.ProductCompositeName  })" alt=""/>
                </a>
            </div>
        </div>
    </div>
</div>