@using StoreOnLine.HtmlHelpers
@model StoreOnLine.Areas.Management.Models.ProductsListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12">
    <h2>List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
        @Model.CurrentCategory
    </p>
</div>

<div id="categories">
    <div class="col-sm-3 hidden-xs">
        @Html.Action("MenuCategory", "Nav", new { Area = "Shopping" })
    </div>
</div>
<div class="col-xs-12 col-sm-8">

    @foreach (var p in Model.Products)
    {
        @Html.Partial("ProductSummary", p);

    }

    <div class="btn-group btn-group-xs pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
    </div>
</div>
