@using StoreOnLine.Domain.HtmlModel
@model IDictionary<int, List<StoreOnLine.Areas.Merchant.Models.CalendarView>>
@{
    ViewBag.Title = "Asignacion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
              (string)ViewBag.Big,
              (string)ViewBag.Small,
              (string)ViewBag.Area,
              (string)ViewBag.Controller,
              (string)ViewBag.Action)
              );}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading ">
                @Html.ActionLink("Crear Nuevo", "Create", "Company", null, new { @class = " btn btn-primary pull-righ" })
            </div>
            <div class="panel-body">
                <div class="col-lg-8">
                    @{foreach (var model in Model)
                      {
                        <div class="row">
                            @for (int index = 0; index < model.Value.Count; index++)
                            {

                                var week = model.Value[index];
                                <div class="col-lg-2">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center info" style="font-size: 10px">@week.WeekName  (@week.DayNumber)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @{
                                var id = @week.Year + "|" + @week.MonthNumber + "|" + @week.DayNumber;
                                                }
                                                <td id="@id">@Html.DropDownList(week.PersonId,
                                                (SelectList)ViewBag.Person, "------------------------------",
                                                new
                                                {
                                                    @class = "form-control btn btn-primary btn-xs",
                                                    onchange = "UpdatePerson(this)"
                                                })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }

                        </div>
                      }
                    }
                </div>
                <div class="col-lg-4" id="tablePersons">
                    @{ Html.RenderPartial("_Accordion", (List<Accordion>)ViewBag.Accordion);}
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        
        function UpdatePerson(data) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdatePerson", "Assign")',
                data: {
                    companyId: '@ViewBag.CompanyId',
                    personId: $(data).val(),
                    scheduleId: '@ViewBag.scheduleId',
                    time: $(data).parent().attr('id')
                },
                success: function (data) {
                    var items = [];
                    items.push("<option>-----------------------------</option>");
                    $.each(data, function () {
                        items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#CompanyAddressUbigeoCodDist").html(items.join(' '));
                }
            });
        }
    </script>

}


