@model ProductLang

<div class="container-fluid">
    @using (Html.BeginForm(new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(o => o.Id)

        <div class="row form-group">
            @Html.LabelFor(o => o.Name, htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(o => o.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(o => o.Description, htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextAreaFor(o => o.Description, new { @class = "form-control", @rows = 10, @cols = 40 })
            </div>
        </div>
        <div class=" row form-group">
            @Html.LabelFor(o => o.Active, htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.CheckBoxFor(o => o.Active)
            </div>
        </div>
    }
</div>
