@model CategoryLang
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajaxOptions = new AjaxOptions
    {
        Url = Url.Action("Detail", "Category"),
        LoadingElementDuration = 1000,
        LoadingElementId = "loading",
        HttpMethod = "Post",
        OnSuccess = "OnSuccess"
    };
}

<div class="container-fluid">
    @using (Ajax.BeginForm("Detail", "Category", ajaxOptions, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="panel panel-primary">
            <div class="panel-heading">@StoreOnLine.Resources.Resources.CategoryTitle</div>
            <div class="panel-body">

                @Html.HiddenFor(o => o.Id)
                @Html.HiddenFor(o => o.LanguageId)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(o => o.Name, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(o => o.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(o => o.Active, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        <div class="bootstrap-switch bootstrap-switch-small">
                            @Html.CheckBoxFor(m => m.Active)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(o => o.Description, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().EditorFor(o => o.Description)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(o => o.MetaTitle, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(o => o.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(o => o.MetaDescription, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(o => o.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(o => o.MetaKeywords, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(o => o.MetaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(o => o.LinkRewrite, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.EditorFor(o => o.LinkRewrite, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(o => o.CategoryRols, htmlAttributes: new { @class = "col-lg-2 control-label" })
                    @* <div class="col-lg-10">
                        @{ Html.RenderPartial("_Rol", Model.CategoryRols); }
                    </div>*@
                    <div class="col-lg-10">
                        <table id="DataTableCategoryRol" class="table table-striped ">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="selectall" /></th>
                                    <th>Id</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.CategoryRols.Count; i++)
                                {
                                    <tr>
                                        @* <td>@Html.CheckBox("CategoryRols.HasPermition", new { onchange = "SomeMethod(" + @item.Rol.Id + ")", @class = "case" })</td>*@
                                        <td>
                                            @Html.CheckBoxFor(x => x.CategoryRols[i].HasPermition)
                                            @Html.HiddenFor(x => x.CategoryRols[i].RolId)
                                            @Html.HiddenFor(x => x.CategoryRols[i].CategoryLangId)
                                            @Html.HiddenFor(x => x.CategoryRols[i].Id)
                                        </td>
                                        <td>@Model.CategoryRols[i].Rol.Id</td>
                                        <td>@Model.CategoryRols[i].Rol.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>



                    <script type="text/javascript">
                        $(function () {

                            // add multiple select / deselect functionality
                            $("#selectall").click(function () {

                                $('.case').prop('checked', this.checked);
                            });

                            // if all checkbox are selected, check the selectall checkbox
                            // and viceversa
                            $(".case").click(function () {

                                if ($(".case").length == $(".case:checked").length) {
                                    $("#selectall").prop("checked", true);
                                } else {
                                    $("#selectall").prop("checked", false);
                                }

                            });
                        });



                        function SomeMethod(checkboxInput) {
                            var idRol = $(checkboxInput)[0];
                            //alert("checkedChanged" + checkboxInput.Id);
                            var url = '@Url.Action("UpdateCategoryRol", new { categoryId = 1, rolId = "__id__" })';
                            var data = {categoryId: @Model.CategoryRols.First().CategoryLangId , rolId: idRol};
                            //$.ajax({
                            //    type: 'POST',
                            //    url: url.replace('__id__', idRol),
                            //    contentType: 'application/json; charset=utf-8',
                            //    data: JSON.stringify(data)

                            //});
                        }
                    </script>

                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-floppy-save"></i></a>
                <input type="submit" value="Guardar" class="btn btn-primary" name="Save" />
            </div>

            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-floppy-save"></i></a>
                <input type="submit" value="Guardar y Permanecer" class="btn btn-primary" name="Save" />
            </div>

            <div class="btn-group">
                <a class="btn btn-danger" href="#"><i class="glyphicon glyphicon-floppy-remove"></i></a>
                <a class="btn btn-danger" href="@Url.Action("Index")">Cancelar</a>
            </div>

            <div id="loading" class="ui-icon-loading" style="display: none">
                <p>Loading Data</p>
            </div>
        </div>
    }
</div>


@section Scripts{
    <script type="text/javascript">

        function OnSuccess(data) {
            var salida = '@TempData["message"]';
            console.log(salida);
            //$.notify("ui-loader-default", "Do not press this button" + salida, "success");
            alert("This is the OnSuccessCallback: " + salida);
        }
    </script>
}
