@model IEnumerable<StoreOnLine.Areas.Management.Models.CampaignView>

@{
    ViewBag.Title = "Admin: Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
          (string)ViewBag.Big,
          (string)ViewBag.Small,
          (string)ViewBag.Area,
          (string)ViewBag.Controller,
          (string)ViewBag.Action)
          );}
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading ">
                @Html.ActionLink("Crear Nuevo", "Create", "AdminCampaign", null, new { @class = " btn btn-primary pull-righ" })
            </div>
            <div class="panel-body">
                <table id="DataTableCampaign" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Imagen
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CampaignName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CampaignDescription)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.IsStatus)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img class="img-thumbnail" width="50" height="50" src="@Url.Action("GetImage", "AdminImg", new { Area = "Management", name = item.CampaignName, id = item.Id })" alt=""/>
                                </td>
                                <td>
                                    @Html.ActionLink(item.CampaignName, "Edit", new { campaignId = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CampaignDescription)
                                </td>
                                <td class="text-center">
                                    @if (item.IsStatus)
                                    {<i class="glyphicon glyphicon-ok"></i>}
                                    else
                                    {<i class="glyphicon glyphicon-remove"></i>}

                                </td>
                                <td class="text-center">
                                    @using (Html.BeginForm("Delete", "AdminCampaign"))
                                    {
                                        @Html.Hidden("categoryId", item.Id)
                                        <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#DataTableCampaign').dataTable({
                "order": [[0, "asc"]],
                "paging": false,
                //"pagingType": "full_numbers",
                "scrollY": "200px",
                "scrollCollapse": true,
                "jQueryUI": true,
                "oLanguage": {
                    "sSearch": "<b> Buscar :</b>  ",
                    "sInfo": "Mostrando _START_ de _END_  registros"
                }
            });
        });

    </script>

}
