@using StoreOnLine.Models
@model  StoreOnLine.Areas.Management.Models.ProductBaseView

@{
    ViewBag.Title = "Admin: Edit " + ViewBag.ProductBase;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
              (string)ViewBag.Big,
              (string)ViewBag.Small,
              (string)ViewBag.Area,
              (string)ViewBag.Controller,
              (string)ViewBag.Action)
              );}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("ProgressBars",model:new ProgressBarView()) 
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading ">
                <h3>Edit Producto Base: @Model.ProductName</h3>
            </div>

            @using (Html.BeginForm("Edit", "AdminProductBase", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                @Html.ValidationSummary()
                @Html.HiddenFor(m => m.Id)
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.ProductName, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.ProductName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese un nombre para el producto" } })
                                    @Html.ValidationMessageFor(m => m.ProductName)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.IsStatus, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    <div class="bootstrap-switch bootstrap-switch-small">
                                        @Html.CheckBoxFor(m => m.IsStatus)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.ProductDescription, new { @class = "control-label" })
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(m => m.ProductDescription, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Ingrese una breve descripcion del producto base" } })
                                    @Html.ValidationMessageFor(m => m.ProductDescription)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <label class="control-label"><b>Imagen</b></label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="col-lg-3">
                                            <img class="img-thumbnail" width="50" height="50" alt="" src="@{var imagen = Model.ProductImagens.SingleOrDefault(o => o.IsPrincipal);
                                                                                                          @(imagen != null ?
                                                                                                          Url.Action("GetDefault", "AdminImg", new { Area = "Management", id = imagen.ObjectId }) :
                                                                                                          Url.Action("GetDefault", "AdminImg", new { Area = "Management", id = 0 }))}"/>
                                            <a class='btn' href='javascript:;'>
                                                <input type="file" name="image" id="image" onchange='$("#upload-file-info").html($(this).val());'>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.ProductCategoryId, new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.ProductCategoryId,
                                            (List<SelectListItem>)ViewBag.Categories,
                                            "------------------------------",
                                            htmlAttributes: new { @class = "form-control btn btn-primary  " })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.ProductUnitId, new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.ProductUnitId,
                                            (List<SelectListItem>)ViewBag.ProductUnit,
                                            "------------------------------",
                                            htmlAttributes: new { @class = "form-control btn btn-primary" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.ProductCampaignId, new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.ProductCampaignId,
                                        (List<SelectListItem>)ViewBag.GetCampaings,
                                        "------------------------------",
                                        htmlAttributes: new { @class = "form-control btn btn-primary" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.ProductSupplierId, new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.ProductSupplierId,
                                    (List<SelectListItem>)ViewBag.ProductSupplier,
                                    "------------------------------",
                                    htmlAttributes: new { @class = "form-control btn btn-primary" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.ProductBasePrice, new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.EditorFor(m => m.ProductBasePrice, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "0.00" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.ProductSalePrice, new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.EditorFor(m => m.ProductSalePrice, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "0.00" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                @{
                                                                                                            if (Model.ProductImagens != null)
                                                                                                            {
                                    @Html.Partial("Pictures", model: Model.ProductImagens);
                                                                                                            }
                                }
                            </div>

                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Index", new { Area = "Management" }, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#IsStatus').bootstrapSwitch({
                size: 'small',
                onText: 'Si',
                offText: 'No',
                onColor: 'success',
                offColor: 'danger',
                radioAllOff: 'false'
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.myCarousel').carousel({
                interval: 200
            });
        });
    </script>
}