@model StoreOnLine.DataBase.Model.Products.ProductBase

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.ProductName</h3>
    </div>
    @using (Html.BeginForm("Edit","AdminProductBase"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id" && property.PropertyName != "IsStatus" &&
            property.PropertyName != "IsDeleted" && property.PropertyName != "AddedUser" &&
            property.PropertyName != "ModificationUser" && property.PropertyName != "ModificationDate" &&
            property.PropertyName != "AddedDate")
                {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @if (property.PropertyName == "ProductDescription")
                    {
                        @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                    }
                    else
                    {
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                    }
                    @Html.ValidationMessage(property.PropertyName)
                </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
