@model System.Collections.Generic.IEnumerable<StoreOnLine.Areas.Management.Models.ProductBaseView>

@{
    ViewBag.Title = "Admin: All Products Basic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("_Title", new StoreOnLine.HtmlHelpers.PageTitleHelpers(
          (string)ViewBag.Big,
          (string)ViewBag.Small,
          (string)ViewBag.Area,
          (string)ViewBag.Controller,
          (string)ViewBag.Action)
          );}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Crear Nuevo", "Create", "AdminProductBase", null, new { @class = " btn btn-primary pull-righ" })
            </div>
            <div class="panel-body">
                <table id="DataTableProductBase" class="table table-striped ">
                    <thead>
                        <tr>
                            <th class="text-right">@Html.DisplayNameFor(model => model.Id)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.ProductImagens)</th>
                            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                            <th class="text-left">@Html.DisplayNameFor(model => model.ProductBasePrice)</th>
                            <th class="text-right">@Html.DisplayNameFor(model => model.ProductSalePrice)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.IsStatus)</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-right">@item.Id</td>
                                <td class="text-center">
                                    <img class="img-thumbnail" width="50" height="50" alt="" src="@{var imagen = item.ProductImagens.SingleOrDefault(o => o.IsPrincipal);
                                                                                                                      @(imagen != null ?
                                                                                                                            Url.Action("GetDefault", "AdminImg", new { Area = "Management", id = imagen.ObjectId }) :
                                                                                                                            Url.Action("GetDefault", "AdminImg", new { Area = "Management", id = 0 }))}" /></td>
                                <td>
                                    @Html.ActionLink(item.ProductName, "Edit", new { productId = item.Id })
                                </td>
                                <td class="text-left">@item.ProductBasePrice.ToString("c")</td>
                                <td class="text-right">@item.ProductSalePrice.ToString("c")</td>
                                <td class="text-center">
                                    @if (item.IsStatus)
                                    {<i class="glyphicon glyphicon-ok"></i>}
                                    else
                                    {<i class="glyphicon glyphicon-remove"></i>}
                                </td>
                                <td class="text-center">
                                    @using (Html.BeginForm("Delete", "AdminProductBase"))
                                    {
                                        @Html.Hidden("productId", item.Id)
                                        <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#DataTableProductBase').dataTable({
                "order": [[2, "asc"]],
                "paging": false,
                //"pagingType": "full_numbers",
                "scrollY": "200px",
                "scrollCollapse": true,
                "jQueryUI": true,
                "oLanguage": {
                    "sSearch": "<b> Buscar :</b>  ",
                    "sInfo": "Mostrando _START_ de _END_  registros"
                }
            });
        });

    </script>

}