@using StoreOnLine.DataBase.Model.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/Error")
    @Styles.Render("~/bundles/kendocss")
    @Styles.Render("~/bundles/Site")

    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendojs")
    @Scripts.Render("~/bundles/SiteJs")


    
    <script type="text/javascript">
        function myAlert() {
            $.notify("Do not press this button", '@TempData["message"]');
        }

    </script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Chocolandia</a>
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                Last access : 30 May 2014 &nbsp; 
                
                @{
                    var user = (User)Session["UserOnLine"];
                    if (user != null)
                    {
                    <div>@user.UserName</div> 
                    }
                }
                @Html.ActionLink("Salir", "Logout", "Account",new {Area = "Security"}, new { @class="btn btn-danger square-btn-adjust" })
            </div>
        </nav>
        @{
            Html.RenderPartial("_LayoutMenu");
        }
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
                <hr />

            </div>
        </div>
    </div>


    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">
            <span class="hidden-xs">SPORTS STORE</span>
            <div class="visible-xs">SPORTS</div>
            <div class="visible-xs">STORE</div>
        </a>*@
    @*@Html.Action("Summary", "Cart", new { Area = "Shopping" })*@
    @* @{
            var user = (User)Session["UserOnLine"];
            if (user != null)
            {
            <div>@user.UserName</div> 
            }
        }*@
    @*      
    </div>*@

    @*<div class="container">
        @RenderBody()
    </div>*@
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</body>

@RenderSection("Scripts", false)
</html>


