<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/Error")
    @Styles.Render("~/bundles/kendocss")
    @Styles.Render("~/bundles/Site")

    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendojs")
    @Scripts.Render("~/bundles/SiteJs")


</head>
<body>
    <div class="container">
        <div class="container">
            <div class="container-fluid">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>


