<!DOCTYPE html>
@using StoreOnLine.DataBase.Model.Security
@using StoreOnLine.Infrastructure.Helper
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/clockpicker/bootstrap-clockpicker.css" rel="stylesheet" />
    <link href="~/Content/clockpicker/jquery-clockpicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.2/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.2/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" />

</head>
<body>
    @(Html.Loader(new { @style = "style='max-height: 100%; max-width: 100%;'" }))

    @*        <div id="loading" class="ui-loader-default " style="display: none">
            <img src="~/Content/images/ajax-loader.gif" style="max-height: 100%; max-width: 100%;" />
        </div>*@
    
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
                <a class="navbar-brand" href="#">
                    <span class="hidden-xs">PROSEGUSR</span>
                    <div class="visible-xs">SPORTS</div>
                    <div class="visible-xs">STORE</div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Base", "Index", "Business", new { Area = "Merchant" }, new { @class = "", @Style="color: gold" })</li>
                    <li>@Html.ActionLink("Asistencia", "Index", "Assist", new { Area = "Merchant" }, new { @class = "", @Style="color: gold" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right container-fluid  " style="background-color: gold; border-bottom-color: green; " >
                    @{
                        var user = (User)Session["UserOnLine"];
                    }
                    <li style="background-color: gold"><a href="#">@(user != null ? user.UserName : "Anonimo")</a></li>
                    <li style="background-color: green;">@Html.ActionLink("Salir", "Logout", "Account", new { Area = "Security" }, new { @class = "", @Style="color: white" })</li>
                    
                </ul>
            </div>
        @*@Html.Action("Summary", "Cart", new { Area = "Shopping" })*@

        @*@{
             
            <div></div>
            <div class="container-fluid pull-right" style="background-color: gold">
                @{
                    <h5></h5>
                }
            </div>
        }*@
        @*}*@

        <div class="visible-xs">
            @Html.Action("MenuCategory", "Nav", new { Area = "Shopping", horizontalLayout = true })
        </div>
    </div>



    <div class="container">
        @*@if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }*@
        @RenderBody()
    </div>

</body>


<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/DataTables-1.10.2/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables-1.10.2/dataTables.bootstrap.js"></script>
<script src="~/Scripts/bootstrap-switch.js"></script>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/clockpicker/bootstrap-clockpicker.js"></script>
<script src="~/Scripts/clockpicker/jquery-clockpicker.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        var salida = '@TempData["message"]';
        if (salida.length > 0) {
            $.notify("Do not press this button" + salida, "success", "success");
        }
    });
</script>

@*<script type="text/javascript">
    function OnBegin() {
        alert("This is the OnBegin Callback");
    }

    function OnSuccess(data) {
        $.notify("Do not press this button", '@TempData["message"]');
        //alert("This is the OnSuccessCallback: " + data);
    }

    function OnFailure(request, error) {
        alert("This is the OnFailure Callback:" + error);
    }

    function OnComplete(request, status) {
        alert("This is the OnComplete Callback: " + status);
    }
</script>*@


@RenderSection("Scripts", false)



</html>
