<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-header">
            @Model.Big <small>@Model.Small</small>
        </h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", new { Area = @Model.Area })">@Model.Area</a>

            </li>
            <li>
                <a href="@Url.Action("Index", @Model.Controller, new { Area = @Model.Area })">@Model.Controller</a>

            <li>
                <a href="@Url.Action(@Model.View, @Model.Controller, new { Area = @Model.Area })">@Model.View</a>
            </li>
        </ol>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
